body{
  background-image: linear-gradient(#f0f0f0, #e8e8e8);
font-family: Nunito;
}



.barreNavSR{
  background-image: radial-gradient(#2c2a46, #24223a);
}





.barreNavSRcity{
  background-image: radial-gradient(#ff9c19, #e07b29);
}


.colorSRcity{
  color: #54462e !important;
  border-color:#54452a ;
}
.colorSRcity:hover{
  color: #ffe5b7  !important;
  border-color:#110d07 ;
}






.colorSR{
  color: #f3c980 !important;
  border-color:#f3c980 ;
}
.colorSR:hover{
  color: #d49c3c !important;
  border-color:#f3c980 ;
}

.bgRadio{
  background-image: url("../image/bgRadio.jpg") ;
  background-position: center center;
  background-size: cover;
  height: 100%; 
}
.lavoix{ 
  display: block;
  width: 20rem; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.srLogo{ 
  display: block;
  width: 10rem; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  
}

.aventureSR{
  padding-top: 2rem;
  color: #f3c980 ;
font-size: 4rem;
}




.countdownSR{

  font-size: 2rem;
 display: inline;
  color: #f3c980 ;
  background-image: radial-gradient(#2c2a46, #24223a);
  border-radius: 50rem;
  padding: 1rem;

  transition: 3s, 1s;
  
}

.countdownSR:after{
  opacity: 0;
  content: '';
  
}



.countdownSR:hover:after{

 
  opacity: 1;
  margin-right: 1rem;
  content:'\00bb';
  transition: 0.4s ease-in-out;
  

}

.limit{
  max-width: 90rem;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.big{
  font-size: 1.3rem;
}
.opacity{
opacity: 0.4;
}

.white{
  color:white;
}

.white:hover{
  color:#c1ebff;
}

.noborder{
  border-radius: 0;
}


.exclu{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: 1s;
}

.exclu:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
transition: 0.4s;
}

.zoom{
  transition: 0.4s;
}
.zoom:hover{
  transform: scale(1.1);
  transition: 0.4s;
  
}

html {
  scroll-behavior: smooth;
}

.active-ajax {
  color:#ffe5b7 !important;
}

.main{
  padding-top: 2rem;
  color: #4e3c1d ;
font-size: 3rem;
}
.subtext{
  color:#8a795b ;
}
.heart{
  color:#ec5d5d;
}

















/* TEAM */

.btn-primary:hover,
.btn-primary:focus {
  background-color: #847c41;
  border-color: #847c41;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #bfb35b;
  border-color: #bfb35b;
}

section {
  padding: 60px 0;
}

section .section-direction {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}



.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  min-width: 12rem;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
 height: 20rem;
}

.backside .card a {
  font-size: 18px;
  color: #bfb35b ;
}

#teamDirection .card {
  border: none;
  background: #ffffff;
}


.frontside .card .card-title,
.backside .card .card-title {
  color: #bfb35b ;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.roundImg{
  border-radius: 50%;
  max-height: 20rem;
  padding: 1rem;
}

/* DIRECTION */
.color-direction{
  color: #bfb35b !important;
}
.bg-direction{
  background-color: #fffaeb !important;
}


#teamDirection{
  background-image: linear-gradient(#fffaeb, #e8e8e8);
}



/* ANIMATION */
#teamAnimation{
  background-image: linear-gradient(#f6ebff, #e8e8e8);
}


.color-animation{
  color: #a76be7 !important;
}
.bg-animation{
  background-color: #f6ebff !important;
}

/* MODÉRATION */
#teamModo{
  background-image: linear-gradient(#ebffff, #e8e8e8);
}


.color-modo{
  color: #6be5e7 !important;
}
.bg-modo{
  background-color: #ebffff !important;
}



/* POSTES SPÉCIAUX */
#teamSpecial{
  background-image: linear-gradient(#fff3eb, #e8e8e8);
}


.color-special{
  color: #e79d6b !important;
}
.bg-special{
  background-color: #fff3eb !important;
}


















/*slide show*/

#slidePartenaire .carousel-item .mask {
  position: absolute;
  top: 0;
left:0;
height:100%;
  width: 100%;
  background-attachment: fixed;
}
#slidePartenaire h4{
font-size:50px;
margin-bottom:15px;
color:#FFF;
line-height:100%;
letter-spacing:0.5px;
font-weight:600;
}
#slidePartenaire p{
font-size:18px;
margin-bottom:15px;
color:#d5d5d5;
}
#slidePartenaire .carousel-item a{background:#a27830; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#slidePartenaire .carousel-item a:hover{background:#dfab52; text-decoration:none;  }

#slidePartenaire .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#slidePartenaire .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#slidePartenaire .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#slidePartenaire .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#slidePartenaire h4, #slidePartenaire p, #slidePartenaire a, #slidePartenaire .carousel-item .mask img{-webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#slidePartenaire .container {max-width: 1430px;  }
#slidePartenaire .carousel-item{height:25rem; min-height:100px; }
#slidePartenaire{position:relative; z-index:0; background:url("../image/bgPartenaires.jpg") center center no-repeat; background-size:cover; border-radius: 30px; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; border-radius: 50%; bottom:auto; transform:translateY(-50%); background-color: #ccac74; }


.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.carousel-fade .carousel-item {
opacity: 0;
-webkit-transition-duration: .6s;
transition-duration: .6s;
-webkit-transition-property: opacity;
transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
-webkit-transform: translateX(0);
-ms-transform: translateX(0);
transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
-webkit-transform:translate3d(0, 0, 0);
transform:translate3d(0, 0, 0)
}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}



@-webkit-keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInLeft {
from {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes fadeInUp {
from {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

to {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
from {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

@keyframes slideInRight {
from {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  visibility: visible;
}

to {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
}

.slideInRight {
-webkit-animation-name: slideInRight;
animation-name: slideInRight;
}




#cmd2{
  background-image: linear-gradient(#f0f0f0, #f4ebff);
}
#cmd3{
  background-image: linear-gradient(#f4ebff, #f0f0f0);
}



.bigCardText{
  font-size: 2rem;
}



.music-toggle{
  color: #ffe5b7 ;
  background-image: radial-gradient(#ff9100, #d06e1d);
  font-size: 3rem;
  display: inline;
  padding:0.8rem; 
  padding-right:1rem;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  border-radius: 50%;
 
  
}

.music-toggle-index{
  color: #f3c980  !important ;
  background-image: radial-gradient(#2c2a46, #24223a) !important;
}



.music-toggle:hover{
  
  background-image: radial-gradient(#ffb85a, #d0905c);
  
 
}


.radio-toggle{
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 2;
  
}

.times{
  position: absolute;
  top: 0;
  right: 0;
 padding:0.5rem;
 color: #b17629 ;



}

.times-index{
  color: #f3c980 !important ;
}

.times:hover{
 
opacity: 0.4;


}

.top-page{

 min-height: 30rem;
 background-color: #110d07;
 
}




.top-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  
  transition-duration: 0.3s;

}


.top-img:hover{
  
 opacity: 0.8;
  transform: scale(1.05);

}

.top-text{
 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
  z-index: 1;
  user-select: none;
  pointer-events: none;

}

.pointer {cursor: pointer; user-select: none;}

.status{
 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.flux-item{
  position: relative;
 height: 4.5rem;
  width: 100%;
text-align: center;
  overflow: hidden;
padding-left: 6rem;

}

.flux-item:hover > .flux-head{
  transition-duration: 1s;
  transform:rotate(10deg);
opacity: 0.4;
}

.flux-item:hover > .flux-orga{
  transition-duration: 1s;
  opacity: 1;
 top: -55%;
  }

.flux-head{
 position: absolute;
 top: -40px;
 left: -10px;

}

.flux-orga{
  position: absolute;
  top: 0%;
  right: 0;
  opacity: 0.5;
  border-radius: 50%;
  height: 9rem;
 }




 
.news-big{
 width: 23rem;
 height: 22rem;
 overflow: hidden;

 position: relative;
}

.news-small{
 width: 23rem;
 height: 11rem;
 overflow: hidden;
 position: relative;
}


.news-badge{
  position: relative;
  color: white;
  background-color: #110d077e;
  border-radius: 5px;
 width: fit-content;
 margin: 10px;
  text-align: left;
  font-size: 1rem;
  z-index: 1;
  text-shadow: 1px 1px  2px #110d07;
 }

 .news-big .news-text{
  position: absolute;
  color: white;
  text-align: left;
  font-size: 2rem;
  z-index: 1;
  padding: 1rem;
  text-shadow: 1px 1px  2px #110d07;
  pointer-events: none;

 }

 .news-small .news-text{
  position: absolute;
  color: white;
  text-align: left;
  font-size: 1.5rem;
  z-index: 1;
  padding-left: 1rem;
  text-shadow: 1px 1px  2px #110d07;
  pointer-events: none;

 }

.news-big img{
  object-fit: cover;
  transform : scale(1.5);
  opacity: 0.4;
  transition-duration: 1s;
  
}

.news-small img{
  object-fit: cover;
  transform : scale(1.5);
  opacity: 0.4;
  transition-duration: 1s;
  
}

.news-big img:hover{
  object-fit: cover;
  transform : scale(2.5);
  opacity: 0.4;
  
}


.news-small img:hover{
  object-fit: cover;
  transform : scale(2.5);
  opacity: 0.4;
  
}

.orga-item{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow:  1px 1px 10px -10px;

}



.orga-img{
 
  top: 0%;
  border-radius: 50%;
  height: 5rem;
  padding: 0.5rem;
 }


 .vl {
  border-left: 1px solid rgb(0, 0, 0);
  opacity: 0.1;
  
}


.goBack{
  font-size: 2rem;
  display: inline-block;
  padding:1rem;
  transition-duration: 0.2s;
  
}

.goBack:hover{
  transform: rotate(-360deg);
    opacity: 0.5;
    font-size: 3rem;
}

.poles-head{
  object-fit: none;
  height: 5rem;
  width: 15rem;
  object-position: -1.5rem -2rem;
  transition-duration: 0.1s;


}

.poles-item:hover > .poles-head{
  object-position: -1rem -2rem;
}

.poles-item:hover{
  background-color: #fffaf5;
}

.poles-item{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow:  1px 1px 10px -10px;
}

.opacity-half{
  opacity: 0.5;
}


.opacity-75{
  opacity: 0.75;
}

